[submodule "Submodules/WindowsMixedReality"]
	path = Submodules/WindowsMixedReality
	url = git@github.com:dumitrusisianu/WindowsMixedReality.git
[submodule "Submodules/SDK"]
	path = Submodules/SDK
	url = git@github.com:dumitrusisianu/SDK.git
[submodule "Submodules/UpmGitExtension"]
	path = Submodules/UpmGitExtension
	url = git@github.com:dumitrusisianu/UpmGitExtension.git
[submodule "Submodules/Lumin"]
	path = Submodules/Lumin
	url = git@github.com:dumitrusisianu/Lumin.git

